<ul class="nav nav-underline navbar-dark bg-dark">
<%= link_to 'Recipe App', root_path, class:"navbar-brand" %>
  <%# foods %>
  <li class="nav-item">
    <%= link_to "Food", foods_path, class:"nav-link" %>
  </li>
  # <%# add foods %>

   <li class="nav-item">
       <%= link_to "Add Food", new_food_path, class:"nav-link" %>
  </li>
</ul>
